.imageDisplay,.imageInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border:var(--themeColor) 1px solid !important;
    border-radius: 8px;
    padding: 14px 14px;
    width: 100%;
}
.imageInput label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imageDisplay{
    height: 6rem;
}
.imageDisplay img{
    height: 100%;
}
.phoneInputButton{
    background:rgb(0,0,0,0) !important;
    border:var(--themeFontColor) 1px solid !important;
    border-radius:8px !important;
    border-right:none !important;
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
  }
  .phoneInputButton :hover{
    /* background:rgb(0,0,0,0) !important; */
    /* border:none !important; */
    
    outline: none !important;
  }
  .phoneInput{
    height:auto !important;
    width:100% !important;
    padding: 16.5px 14px !important;
    padding-left: 48px !important;
    font-size: 0.8571428571428571rem !important;
    background:rgb(0,0,0,0) !important;
    border:var(--themeFontColor) 1px solid !important;
    border-radius:8px !important;
  }
  .phoneInputDropDown{
   border-radius:10px
  }
  /* .phoneInputDropDown :hover{
    background:rgb(255, 255, 255) !important;
    border:none !important;
    
    outline: none !important;
   } */